<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= text %></p>
    <p> Visualizar :  
    
    <a href="/cidades"> Cidades </a>
    <a>,</a>
    <a href="/estados"> Estados </a>


    
	</p>
  </body>
</html>
